<div class="jumbotron text-center" style="margin-top: 5%">
  <h3>Correction classification</h3>
  <hr>
  <div class="row">
    <div class="col-sm">
      <img src="{{imgPath}}" style="height: 100%; width: 100%; object-fit: contain">
    </div>
    <div style="outline: 2px solid black" class="col-sm">
      <br />
      <h5>Classify Image</h5>
      <hr>
      <form action="/displayForms/greenhouseretrain" method="post">
        <div class="form-check">
          <h3>What is inside this picture?</h3>
          <br>
          <div class="form-check">
            <input type="submit" class="btn btn-success btn-block" value="Green House" id="greenHousePresent" name="greenHouse">
            <input type="submit" class="btn btn-block btn-primary" value="Solar Panel" id="solarPanelPresent" name="solarPanel">
            <input type="submit" class="btn btn-danger btn-block" value="Nothing" id="noGreenHouse" name="nothing">
          </div>
          <br>
      </form>
    </div>
  </div>
</div>