<div class="jumbotron text-center">
  <h3>Classify an object</h3>
  <hr>
  <div class="row">
    <div class="col-sm">
    <img style="width: 40%;" src="https://tinyurl.com/y6ku7bs3">
    </div>
    <div style="outline: 2px solid black"class="col-sm">
      <br />
      <h5>This is a...</h5>
      <hr>
      <button class="btn btn-secondary">Green House</button>
      <button class="btn btn-secondary">Solar Panel</button>
      <br />
      <button class="btn btn-danger" style="margin-top: 5%; margin-bottom: 5%;">Neither</button>
    </div>
  </div>
</div>