<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/home.css">
</head>
<div class="text-center">
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="flexbox footerColumn">
          <h6 class="footerTitle">About our team</h6>
          <p>
            Our team at StatsCan is determined to use available technology to bring forward data in the most efficient ways possible. This project is one of many which strives to do this.
          </p>
        </div>
        <div class="flexbox footerColumn" style="margin-left: 5%">
          <h6 class="footerTitle">Contact Us</h6>
          <div class="footerText">
            <div>
              Statistics Canada <br>
              Department of Agriculture <br>
              170 Jean Talon Building <br>
              Tunney's Pasture Driveway, K1A 0T6 <br>
              Ottawa, On <br>
              Tel: 613-282-0623 <br>
              Email: sara.burns@canada.ca
            </div>
          </div>
        </div>
        <div class="flexbox footerColumn">
          <h6 class="footerTitle">Useful Links</h6>
          <div class="footerText">
            <div>
              <b>Github:</b>
              <a href="https://github.com/abdulhaqani/Greenhouse-Classification">Github Repository</a>
            </div>
          </div>
          <div>
            <b>Statistics Canada Website:</b>
            <a href="https://www.statcan.gc.ca/">Link</a>
          </div>
        </div>
        <div class="flexbox footerColumn" style="margin-left: 0;">
          <h6 class="footerTitle">Quick Comments</h6>
          <form action="comments" method="POST">
            <div class="input-group">
              <textarea class="form-control" aria-label="With textarea" name="comments">comment here</textarea>
            </div>
            <input type="submit" class="btn btn-success" style="margin-top: 2%">
          </form>
        </div>
      </div>
    </div>
  </footer>
</div>