<div class="text-center">
  <footer>
    <p>
      Software Developer – Department of Agriculture <br>

      Statistics Canada / Government of Canada
      <br>

      abdul.haqani@canada.ca / Tel: 343-549-8551
      <br>
      <br>

      Dévvelopeur de logiciel – Département de l'agriculture
      <br>

      Statistique Canada / Gouvernement du Canada
      <br>

      abdul.haqani@canada.ca / Tél: 343-549-8551
    </p>
  </footer>
</div>