<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/home.css">
</head>
<div>
  <br>
  <h1 class="text-center contactTitle">
    <!-- French-->
    Contact our team
  </h1>
  <center>
    <p class="contactHead">
      <!-- French-->
      Contacts based on their involvement in the project are indicated below, please don't hesitate to contact us
      for any inquiries about the project, or what we do at StatsCan.
    </p>
  </center>
</div>

<body>
  <center>
    <div class="container-fluid">
      <div class="row contact timesNewRoman">
        <div class="column contact">
          <h4>Project Leader</h4>
          <p class="contactP">
            Remote Sensing Analyst <br>
            Department of Agriculture <br>
            Statistics Canada <br>
            <a class="mail" href="mailto: sara.burns@canada.ca subject=Project inquiries">sara.burns@canada.ca</a> <br>
            Tel: <a href="tel: +1-613-282-0623"></a> 613-282-0623 <br>
            <br>
            Analyste en Télédétection <br>
            Département de l'agriculture <br>
            Statistique Canada <br>
            <!-- French-->
            <a class="mail" href="mailto: sara.burns@canada.ca subject=FRENCH**********">sara.burns@canada.ca</a> <br>
            Tél: <a href="tel: +1-613-282-0623"></a>613-282-0623
          </p>
        </div>
        <div class="column contact">
          <h4>Project Supervisor</h4>
          <p class="contactP">
            Communications Officer <br>
            Department of Agriculture <br>
            Statistics Canada<br>
            <a class="mail" href="mailto: erik.dorff@canada.ca subject=General Inquiries">erik.dorff@canada.ca</a> <br>
            Tel: <a href="tel: +1-613-863-7948"></a>613-863-7948 <br>
            <br>
            Chargée de Communication <br>
            Département de l'agriculture <br>
            Statistique Canada <br>
            <a class="mail" href="mailto: erik.dorff@canada.ca subject=FRENCH**********">erik.dorff@canada.ca</a> <br>
            Tél: <a href="tel: +1-613-863-7948"></a>613-863-7948
          </p>
        </div>
        <div class="column contact">
          <h4>App developers</h4>
          <p class="contactP">
            Software Developer <br>
            Department of Agriculture <br>
            Statistics Canada<br>
            <a class="mail" href="mailto: abdul.haqani@canada.ca subject=Greenhouse app inquiries">abdul.haqani@canada.ca</a> <br>
            Tel: <a href="tel: +1-343-549-8551"></a>343-549-8551 <br>
            <br>
            Dévelopeur de logiciel <br>
            Département de l'agriculture <br>
            Statistique Canada <br>
            <a class="mail" href="mailto: abdul.haqani@canada.ca subject=FRENCH**********">abdul.haqani@canada.ca</a> <br>
            Tél: <a href="tel: +1-343-549-8551"></a>343-549-8551
          </p>
        </div>
        <div class="column contact">
          <h4>AI developers</h4>
          <p class="contactP">
            Data Scientist <br>
            Department of Agriculture <br>
            Statistics Canada<br>
            <a class="mail" href="mailto: russell.gill@canada.ca subject=Image Recognition AI inquiries">russell.gill@canada.ca</a> <br>
            Tel: <a href="tel: +1-343-548-8267"></a>343-548-8267 <br>
            <br>
            Scientifique des données <br>
            Département de l'agriculture <br>
            Statistique Canada <br>
            <a class="mail" href="mailto: russell.gill@canada.ca subject=FRENCH**********">russell.gill@canada.ca</a> <br>
            Tel: <a href="tel: +1-343-548-8267"></a>343-548-8267
          </p>
        </div>
      </div>
    </div>

  </center>
</body>


</html>