<link rel="stylesheet" href="/styles/home.css">

<body>
  <br>
  <!-- Header -->
  <a href="/displayForms" style="text-decoration:none">
    <header style="margin-bottom: 25px; background-image: url('/images/GH-Top.jpg');">
      <h1>Greenhouse and Solar Panel Classification</h1>
    </header>
  </a>
  <p class="textTitle">
    Description
  </p>
  <p class=" textBody">
    The purpose of this web application is to classify and organize training data for a machine learning model. This
    training data is to be used to allow aerial imaging in conjunction with a machine learning model to determine how
    much area is covered by solar panels and greenhouses. <br>
    <br>
  </p>
  <p class="textEnd">
    Main contributor: Abdul Haqani <br>
    Project leader: Sara Burns <br>
    Project supervisor: Erik Dorff <br>
  </p>

</body>